#title, #text, #textComment {
    margin: 5px;
    padding-left: 3px;
    padding-right: 3px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #9999CC;
    background-color: transparent;
    outline: none;
}

#text, #textComment {
    height: 500px;
    resize: none;
}

#text, #textComment {
    font-family: Arial;
    font-size: 16px;
}