#email, #username, #password, #passwordConfirm, #code {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    width: 100%;
    font-size: 24px;
    border: none;
    border-bottom: 3px solid #006633;
    background-color: transparent;
    outline: none;
}

.button {
    margin: 10px auto;
    padding: 5px;
    width: auto;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    color: ghostwhite;
    background-color: #00CC99;
    border-radius: 5px;
    box-shadow: 1px 2px 1px 0 #006633;
}

.button:active {
    background-color: #006633;
}