.top, .bar, #navbar {
    height: 100px !important;
}

.top {
    border-bottom: 1px solid #333333;
}

.blog, .bar {
    position: absolute;
    line-height: 100px;
    top: 0;
}

.blog {
    font-size: 64px;
    width: 20%;
    margin-left: 10%;
    left: 0;
}

.bar {
    width: 60%;
    margin-right: 10%;
    right: 0;
}

#navbar {
    padding: 0;
    list-style-type: none;
    font-size: 24px;
    color: #333333;
    cursor: pointer;
    text-align: center;
    margin: 0;
    text-shadow: none;
}
#navbar li {
    margin: 0 -3px;
    border-left: 1px solid #333333;
    display: inline-block;
    width: 20%;
}

#navbar li:last-child {
    border-right: 1px solid #333333;
}

span {
    color: #333333;
    text-decoration: none;
}

.menu {
    position: relative;
    padding: 3px;
    margin: 20px 0 0 10%;
    height: 30px;
}

.addButton, .categoriesButton, .editButton, .removeButton {
    position: absolute;
    width: 180px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    color: ghostwhite;
    border-radius: 5px;
}

.addButton {
    background-color: #FF9933;
    left: 76%;
    box-shadow: 1px 2px 1px 0 #CC6600;
}

.categoriesButton {
    background-color: #3366CC;
    left: 65%;
    box-shadow: 1px 2px 1px 0 #330099;
}

.editButton {
    background-color: #FF6633;
    left: 65%;
    box-shadow: 1px 2px 1px 0 #CC6600;
}

.removeButton {
    background-color: #FF0033;
    left: 76%;
    box-shadow: 1px 2px 1px 0 #993300;
}

.addButton:active {
    background-color: #CC6600;
}

.categoriesButton:active {
    background-color: #330099;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: justify;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

th {
    color: whitesmoke;
    background-color: gray;
}

th:nth-child(1) {
    width: 3%;
}


th:nth-child(2) {
    width: 18%;
}

th:nth-child(4) {
    width: 11%;
}

.edit, .remove {
    top: 10px;
}

.edit {
    position: absolute;
    right: 80px;
}

.remove {
    position: absolute;
    right: 15px;
}