.loginBox, .newsBox, .centerBox {
    padding: 10px;
}

.loginBox, .centerBox {
    text-align: center;
}

.centerBox, .loginBox {
    box-shadow: 0 0 0 7px #66CC99;
    border-radius: 5px;
    width: 15%;
}

.loginBox {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10%;
}

.newsBox {
    margin-left: 10%;
    box-shadow: 0 0 0 3px #9999CC;
    border-radius: 3px;
    width: 60%;
}

.postsBox, .postBox {
    margin-left: 10%;
}

.centerBox, .postCreateBox {
    margin: 0 auto;
}

.postsBox {
    margin-top: 20px;
    width: 80%;
}

.postCreateBox {
    margin-top: 20px;
    width: 80%;
}

.postBox {
    padding: 10px;
    margin: 20px;
    box-shadow: 0 0 0 3px #CCCC00;
}

.titleBox {
    font-size: 1.5em;
    font-weight: bold;
}

.textBox {
    text-align: justify;
    margin-top: 10px;
    width: 100%;
}

.dateBox {
    margin-top: 10px;
    margin-left: 3%;
    width: 15%;
}

.commentBox {
    margin: 10px;
    padding: 5px;
}

.newsBox, .postBox {
    border-radius: 3px;
}