.loginBox, .newsBox, .centerBox {
    padding: 10px;
}

.loginBox, .centerBox {
    text-align: center;
}

.centerBox, .loginBox {
    box-shadow: 0 0 0 7px #5Cb85c;
    border-radius: 5px;
}

.newsBox {
    box-shadow: 0 0 0 7px #9999CC;
    border-radius: 5px;
}

.postsBox, .postBox, #label {
    margin-left: 10%;
}

.centerBox, .postCreateBox {
    margin: 0 auto;
}

.postsBox, #label {
    margin-top: 20px;
    width: 80%;
}

.postCreateBox {
    margin-top: 20px;
    width: 80%;
}

.postBox {
    padding: 10px;
    margin: 20px;
    box-shadow: 0 0 0 3px #CCCC00;
}

.titleBox {
    font-size: 1.5em;
    font-weight: bold;
}

.textBox {
    text-align: justify;
    margin-top: 10px;
    width: 100%;
}

.dateBox {
    margin-top: 10px;
    margin-left: 3%;
    width: 15%;
}

.commentBox {
    padding: 5px;
    margin: 10px 10px 0;
}

.newsBox, .postBox {
    border-radius: 3px;
}