body {
    background-color: ghostwhite;
    padding: 0;
    margin: 0;
}

.top, .footer {
    text-align: center;
}

.top, .center {
    position: relative;
}

.top, .center, .footer {
    width: 100%;
}

.top {
    height: 175px;
    color: #FF0033;
    font-size: 8em;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

.news {
    font-size: 36px;
}

p {
    text-align: justify;
}

.header {
    font-size: 32px;
    color: #CCCCCC;
    text-shadow: 1px 1px 1px black;
}

form {
    margin-bottom: 0;
}

.footer {
    color: #333333;
    margin-top: 25px;
    margin-bottom: 15px;
}

hr {
    color: #555;
    background-color:#555;
    border:0 none;
    height:1px;
    clear:both;
}

hr[class="date"] {
    color: lightgray;
    background-color: lightgray;
}

hr[class="footer"] {
    width: 60%;
}

.comment {
    margin: 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px;
}

.commentText {
    text-align: justify;
}

.commentUser {
    text-decoration: underline;
}

.commentDate {
    margin-left: 8px;
}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.fake-link:visited {
    color: purple;
}

.currentPage {
    font-size: 1.5em;
    color: #999900;
}

